<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'index.html' %}
    {% block content %}

    {% if current_user.is_authenticated %}
    
    <!-- SELECTION MENU -->
    <h1 id='title' class='text-center mt-5 '>What Would You Like To Do?</h1>
    <div class='d-flex container position-absolute top-50 start-50 translate-middle'>       
        <div class='mx-auto'>
            <button id="update_horse_btn" class="btn btn-info p-5">Update Horse</button>           
        </div>
        <div class='mx-auto'>
            <button id="add_horse_btn" class="btn btn-info p-5">Add New Horse</button>           
        </div>
    </div>

    <!-- FORM TO ADD HORSE -->
    <form id="add_horse_form" action="{{url_for('add_horse')}}" method="POST" class="w-50 shadow-lg p-3 position-absolute start-50 translate-middle" 
    style="visibility: hidden; top:95%">>
        <h2 class="text-center">Add Horse Form</h2>
        
        <div class="row mx-auto">
            <div class="form-floating mb-3 w-50 mx-auto row">
                <input name="name"" type="text" class="form-control" id="name">
                <label for="name">Name</label>
              </div>
              <div class="form-floating mb-3  w-50 mx-auto row">
                <input name="breed"" type="text" class="form-control" id="breed">
                <label for="breed">Breed</label>
              </div>
        </div> 
         

          <div class="row   mx-auto">
            <div class="form-floating mb-3 col">
                <input name="color"" type="text" class="form-control" id="color">
                <label for="color">Color</label>
              </div>             
              <div class="form-floating mb-3  w-50 mx-auto col">
                <input name="saddle_time"" type="text" class="form-control" id="saddle_time">
                <label for="saddle_time">Saddle Time</label>
              </div>
          </div>         

          <div class="row  mx-auto justify-content-left">
            <div class="form-floating mb-3 col">
                <input name="sex"" type="text" class="form-control" id="sex">
                <label for="sex">Sex</label>
              </div>
              <div class="form-floating col">
                <input name="age"" type="number" class="form-control" id="age" >
                <label for="age">Age</label>
              </div>
              <div class="form-floating mb-3 col">
                <input name="height"" type="float" class="form-control" id="height">
                <label for="height">Height</label>
              </div>
          </div>

          <div class="form-floating mb-3 col w-25 mx-auto">
            <input name="price"" type="float" class="form-control" id="price">
            <label for="price">Price</label>
          </div>
          <div class="form-floating mb-3">
            <textarea name="training" class="form-control"  rows="20" style="height: 100%;" placeholder="Enter Completed Training. Place a Period for a new line." id="training"></textarea>
            <label for="training">Enter Training Accomplishments. Periods Start New Bullet Points</label>
          </div>
          <div class="form-floating mb-3">
            <textarea name="bio" class="form-control"  rows="20" style="height: 100%;" placeholder="Enter Bio" id="bio"></textarea>
            <label for="training">Enter Bio</label>
          </div>
          <div class='row mb-5'>
                <div class="form-floating col">
                    <input type="submit" class="form-control btn btn-info" />           
                </div>
                <div class="form-floating col">
                    <button type="button" class="form-control btn btn-danger cancel_btn">Cancel</button>       
                </div>
          </div>
         
        </form>

        <!-- FORM TO UPDATE HORSE -->         
   
    <form id="update_horse_form" action="{{url_for('update_horse')}}" method="POST" class="w-50 shadow-lg p-3 position-absolute start-50 translate-middle" 
    style="visibility: hidden; top:95%">
        <h2 class="text-center">Update Horse Form</h2>
        <div class="form-floating">
          <select name="id" class="form-select w-75 mx-auto mb-3" id="horse_select" aria-label="Floating label select example" required>
            <option selected>Open this select menu</option>
            {% for horse in horses %}
            <option value={{horse.id}}>{{horse.name}}</option>
            {% endfor %}        
          </select>
          <label for="horse_select">Select a Horse</label>
        </div>
        
        <div class="row mx-auto">
            <div class="form-floating mb-3 w-50 mx-auto row">
                <input name="name"" type="text" class="form-control" id="update_name">
                <label for="name">Name</label>
              </div>
              <div class="form-floating mb-3  w-50 mx-auto row">
                <input name="breed"" type="text" class="form-control" id="update_breed">
                <label for="breed">Breed</label>
              </div>
        </div> 
         

          <div class="row   mx-auto">
            <div class="form-floating mb-3 col">
                <input name="color"" type="text" class="form-control" id="update_color">
                <label for="color">Color</label>
              </div>             
              <div class="form-floating mb-3  w-50 mx-auto col">
                <input name="saddle_time"" type="text" class="form-control" id="update_saddle_time">
                <label for="saddle_time">Saddle Time</label>
              </div>
          </div>         

          <div class="row  mx-auto justify-content-left">
            <div class="form-floating mb-3 col">
                <input name="sex"" type="text" class="form-control" id="update_sex">
                <label for="sex">Sex</label>
              </div>
              <div class="form-floating col">
                <input name="age"" type="number" class="form-control" id="update_age" >
                <label for="age">Age</label>
              </div>
              <div class="form-floating mb-3 col">
                <input name="height"" type="float" class="form-control" id="update_height">
                <label for="height">Height</label>
              </div>
          </div>

          <div class="form-floating mb-3 col w-25 mx-auto">
            <input name="price"" type="float" class="form-control" id="update_price">
            <label for="price">Price</label>
          </div>
          <div class="form-floating mb-3">
            <textarea name="training" class="form-control"  rows="20" style="height: 100%;" placeholder="Enter Completed Training. Place a Period for a new line." id="update_training"></textarea>
            <label for="training">Enter Training Accomplishments. Periods Start New Bullet Points</label>
          </div>
          <div class="form-floating mb-3">
            <textarea name="bio" class="form-control"  rows="20" style="height: 100%;" placeholder="Enter Bio" id="update_bio"></textarea>
            <label for="training">Enter Bio</label>
          </div>
          <div class='row mb-5'>
                <div class="form-floating col">
                    <input type="submit" class="form-control btn btn-info" />           
                </div>
                <div class="form-floating col">
                    <button type="button" class="form-control btn btn-danger cancel_btn">Cancel</button>       
                </div>
          </div>
         
        </form>

    {%else%}

     <!-- LOGIN SCREEN -->
    <div class='container mx-auto mt-5 w-25'>
        <div>
            <h1>Login</h1>
        </div>
        <form action="{{url_for('admin_login')}}" method="POST">
            <div class="form-floating mb-3">           
                <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="password">Password</label>              
              </div>
              <input type="submit" class="form-control btn btn-info p-3" >
    
        </form>       
    </div>
    {%endif%}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        let add_horse_btn = document.getElementById('add_horse_btn')
        let update_horse_btn = document.getElementById('update_horse_btn')
        let cancel_button = document.getElementsByClassName("cancel_btn")
        let horse_select = document.getElementById("horse_select")
        let add_horse_form =  document.getElementById("add_horse_form")

        add_horse_btn.onclick = function(){
            add_horse_form.style.visibility = "visible"
            add_horse_btn.style.visibility="hidden"
            update_horse_btn.style.visibility="hidden"
        }

          update_horse_btn.onclick = function(){
          update_horse_form.style.visibility = "visible"
          add_horse_btn.style.visibility="hidden"
          update_horse_btn.style.visibility="hidden"
      }


        cancel_button[0].onclick = function(){
           add_horse_form.style.visibility = 'hidden'
           add_horse_btn.style.visibility="visible"
           update_horse_btn.style.visibility="visible"

          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        cancel_button[1].onclick = function(){
          update_horse_form.style.visibility = 'hidden'
          add_horse_btn.style.visibility="visible"
          update_horse_btn.style.visibility="visible"

         document.body.scrollTop = 0; // For Safari
         document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
       }

       horse_select.onchange = function (){    
          $.get("{{url_for('get_horses')}}", function(data, status){
            console.log(data)
          })
          
          document.getElementById("update_name").value = {{horses[0]["name"]|tojson}}
          document.getElementById("update_breed").value = {{horses[0]["breed"]|tojson}}
          document.getElementById("update_color").value = {{horses[1]["color"]|tojson}}
          document.getElementById("update_saddle_time").value = {{horses[0]["saddle_time"]|tojson}}
          document.getElementById("update_sex").value = {{horses[0]["sex"]|tojson}}
          document.getElementById("update_age").value = {{horses[0]["age"]|tojson}}
          document.getElementById("update_height").value = {{horses[0]["height"]|tojson}}
          document.getElementById("update_price").value = {{horses[0]["price"]|tojson}}
          document.getElementById("update_training").value = {{horses[0]["training"]|tojson}}
          document.getElementById("update_bio").value = {{horses[1]["bio"]|tojson}}
        
         
       }
    </script>

    {% endblock %}


</body>
</html>