{% extends 'index.html' %}
{% block title%}The Barn - {%endblock%}
{% block head %}
{{super()}}

{%endblock%}

{%block content%}
<div class='text-center'>
    <div class="mt-5">
        <h1>Welcome To The Barn</h1>
    </div>
    <div class="container d-flex flex-wrap justify-content-center">
        {% for horse in horses%}   
           
            <button onclick="window.location.href='/horses/{{horse.id}}/{{horse.name}}'"
                class="card shadow shadow-lg mx-3 mt-2 mb-5 p-4 " style="width: 25%; height:30rem;">
                {%if horse.images|count > 0 %}
                <img src={{horse.images[0]["url"]}} class="card-img-top img-thumbnail mx-auto" width="auto" height="auto" alt="..." style="max-height: 50%; object-fit:cover">                       
                {%endif%}
                <div class="card-body">
                    <h5 class="card-title">Name: {{horse.name}}</h5>
                    <h6>Age: {{horse.age}}</h6>
                    <h6>Sex: {{horse.sex}}</h6>
                    <h6>Breed: {{horse.breed}}</h6>
                    <h6>Color: {{horse.color}}</h6>
                    <p class="card-text">About: {{horse.bio[:100]}}... Click To Read More</p>
                </div>               
            </button>
        


        {% endfor %}
    </div>
</div>
{%endblock%}