<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link href="../static/images/favicon.png" rel="icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Sacramento&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet" />
    <link href="../static/styles/styles.css" rel="stylesheet" />
    <title>TCCS.TECH</title>
</head>

<body>
    <div class="header">
        <h1>I'm Tim</h1>
        <p>a tech & horse enthusiast</p>
        <div class='mountain-cloud-container'>
            <img class='cloud ' alt="cloud" src="../static/images/cloud.png" />
            <img class="cloud-1" alt="clouds" src="../static/images/cloud.png" />
            <img class='mountain' alt="mountain" src="../static/images/mountain.png" />
        </div>
    </div>

        <div class='bio-container'>
            <div class="head-photo">
                <img src="../static/images/headshot.jpg" width=200 />
            </div>
            <h2>Hello,</h2>
            <h3>I am a Web Developer, PC Technichian, Python Developer, and Horse Trainer. My passion for tech is what
                lead me to start TCCS.TECH.</h3>         
        </div>

        <hr>

        <div class="skills-container">          
            <h1>My Skills</h1>
            <div class="skill">
                <img class="computer" src="../static/images/pc tech.png" alt="pc repair" />
                <div class='skill-row'>
                    <h2>PC Technichian/Web Developer</h2>
                    <h3>
                        I started building and repairing computers around the age of 12. I quickly discovered a passion
                        as I began to repair computers for friends and family.
                        This drove me to get a degree in Computer Science. Now, I find building web apps, and other
                        programs relaxing.
                    </h3>
                </div>
            </div>

            <div class="skill">
                <div>
                    <img class="horse" src="../static/images/horse.png" alt="pc repair" />
                    <div class='skill-row'>
                        <h2>Horse Training</h2>
                        <h3>The only thing more relaxing than coding is probably horse training. I really enjoy the
                            challenge of connecting to one of God's greatest animals.
                            Ray Hunt is probably one of the most influential trainers in my techniques.
                        </h3>
                    </div>
                </div>
            </div>

            <hr>
        
            <div class='contact-me'>           
                <h2>Get In Touch</h2>
                <h3>Need some techy stuff done or want to talk horses? Reach out and let me see what I can do for you!</h3>
                <a class='btn' href="">Contact Me</a>
            </div>
        </div> 

        <div class='footer'>
            <p>©2021 TCCS.TECH</p>
        </div> 
</body>


</html>