<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="../static/styles/styles.css"/>
</head>
<div class="tim-bg">    
        <h1>I'm Tim</h1>
        <p>a tech & horse enthusiast</p>
        <div class='mountain-cloud-container'>
            <img class='cloud ' alt="cloud" src="../static/images/cloud.png" />
            <img class="cloud-1" alt="clouds" src="../static/images/cloud.png" />
            <img class='mountain' alt="mountain" src="../static/images/mountain.png" />
        </div>   
</div>
</html>