<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/styles/styles.css"/>
    <title>Message Sent</title>
</head>
<body  style="background-image:linear-gradient(90deg, rgb(249, 255, 255), rgb(91, 102, 104))">
{% extends 'index.html' %}
{%block content%}
<div class="contact-good border-bottom border-2">

<h2>Hi {{name}},
    <br>
    <br/>Thanks for submitting a message.
    <br/>I will reach out to you at {{email}} as soon as possible!
    <br/>
    <br/>Have a great day,
    <br/>Tim</h2>
</div>
{%endblock%}
</body>
</html>