<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Me</title>
</head>
<body>   
    {% extends 'index.html' %}
   {%block content%}
    <form class="contact-form" action="{{url_for('contact_me')}}" method="POST">
        {{form.csrf_token}}
        <h2>Contact Me</h2>
        {{form.name(placeholder="Please enter your name.")}}
        {{form.email(placeholder="Please enter your email.")}}
        {{form.message(placeholder="Please enter your message.", rows=10)}}
        <input class="btn" type="submit" value="Send"/>
    </form>
{% include 'tim.html' %}
{%endblock%}
</body>
</html>