{% extends 'index.html' %}
{%block title%}Contact Me @ {%endblock%}
{%block head%}
<link rel="stylesheet" href="../static/styles/contact.styles.css" />
{%endblock%}


{%block content%}

<section class='container-fluid align-content-center position-absolute top-50 start-50 translate-middle' >    
    <h1 style='font-family:"Sacramento", cursive; min-width: 100%; font-size: 3em;'>Leave a Message</h1>    

    <div class='container-fluid row justify-content-center mt-3'>
        <form class="row col-md-6" action="{{url_for('contact_me')}}" method="POST">
            {{form.csrf_token}}

            {{form.name(placeholder="Please enter your name.")}}

            {{form.email(placeholder="Please enter your email.")}}

            {{form.message(placeholder="Please enter your message.", rows=10)}}
            <input type="text" id="required" name="address" placeholder="Fill Me In Bot Man"/>
            <input type="text" id="ip_address" name="ip_address"/>

            <input id="submit_btn" class='btn btn-success' type="submit" value="Send" />
        </form>
    </div>
</section>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
    let ip_address = ""
    $.get("https://api.bigdatacloud.net/data/client-info", function(data){
        console.log("Fetching ip address")
        ip_address = data.ipString 
        console.log(ip_address)    
    })
    
        $('#required').hide();        
        $('#required').bind('input',function(){
            console.log("changing")           
            $('#submit_btn').remove();     
            
        })
   
    
    
</script>
{%endblock%}
