<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/styles/styles.css"/>
    <title>Message Sent</title>
</head>
<body style="background-image:linear-gradient(90deg, rgb(4, 252, 252), rgb(0, 0, 0))">
{% extends 'index.html' %}
{%block content%}
<div class="contact-good">

<h2>Hey {{name}},
    <br/>Thanks for submitting a message.
    <br/>I will reach out to you at {{email}} as soon as possible!
    <br/>Have a great day,
    <br/>Tim</h2>
</div>
{%endblock%}
</body>
</html>