#img_container{
    width: 25%;
}
#img_container img{
    max-height: 75%;
    object-fit:cover;   
}

.about_horse{
    display: flex;
    flex-direction: column;
    text-align: start;
}

@media only screen and (max-width:600px){
    hr{
        margin-top: 0;
       
    }
    #horse_info{
        display: flex;
        flex-direction: column;
       
    }
   #left_bar{
       display:flex;      
       justify-items: center;
    }
    #left_bar h5{
        width:20em;
        margin-left: .5em;
        margin-top: 0;  
     }
     
    .about_horse{
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: -5em;
      
    }
    .about_horse h5, li{
        font-size: .75em;
        line-height: 1;
        text-align: start;       
        width: 25em;
        margin-left: -2.5em;
    }
    #img_container {
        border:1px solid black;
        width:10em;
    }
}