body{text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  color:#40514e;
}

nav{
    box-shadow: 5px 5px 10px black;
}

.header {
    display: inline-block;
    background-image: linear-gradient(#f1f1f1, #018d9c);
    padding-top: 6em;
    width: 100%;
    text-align: center;
  }
.header h1 {
  margin-top: 0;
  font-family: "Sacramento", cursive;
  font-size: 5em;
}
.header p {
  margin: 0 auto;
  font-size: 1.5em;
}


.mountain-cloud-container {
  margin: 0 auto;
  width: 45%;
}
.mountain {
  margin: 0 auto;
}
.cloud {
  position: relative;
  bottom: 8em;
  right: 8em;
}
.cloud-1 {
  position: relative;
  top: 7em;
  left: 7em;
}

.bio-container{
    width:40%;
    margin:auto;
    text-align: center;

}

.head-photo {
  border-radius: 5em;
  border: 1px solid black;
  width: 160px;
  height: 155px;
  overflow: hidden;
  margin-top: 5em;
}


.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: "Merriweather Sans", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .contact-me{
      width: 30%;
      margin: auto;
  }

.contact-me-btn:hover {
  background-image: linear-gradient(#30e3cb, #2bc4ad);
  cursor: pointer;
}

.contact-color-background{
  position: fixed;
  top:14%;
  background-color: #0cdfeebd;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.tim-bg{
  display: inline-block;
  position: fixed;
  top:0;
  left:0;
  background-image: linear-gradient(#f1f1f1, #018d9c);
  padding-top: 0em;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
}

.tim-bg h1 {
  margin-top: 2em;
  font-family: "Sacramento", cursive;
  font-size: 5em;
}
.tim-bg p {
  margin: 0 auto;
  font-size: 1.5em;
}
.contact-form{
    display: flex;
    flex-direction: column;
    width:30%;
    margin:5em auto 0 3em;
    background-image: linear-gradient(#009dae88,#c2fff970);
    padding:2em 5em;
    border-radius: .25em;
    box-shadow: 15px 15px 10px #000000;
}

.contact-form input, textarea{
   margin: .5em;
    padding: 1.25em;
    border-radius: .25em;
    border: none;
     box-shadow: 5px 5px 10px #000000;
}

footer{
    position: fixed;
    bottom:0;
    width:100%;
    height: 2.5rem;
    background-color: rgba(96, 236, 216, 0.73);
    text-align: center;
}

.contact-good{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    flex-direction: column;
    margin-top: 15%;
    align-items: start;
    text-align: left;
}