.project-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project{
    width:40em;
    margin-top: 2em;
    margin-bottom: 5em;
}
.skill-img{
    max-width: 10em;
}
.skill-img img{
    object-fit: contain;
    max-width: 10em;
}

#web-dev li{   
    font-size: 1.5rem; 
    width:25rem;    
 }

 #web-dev li a{
    color:rgb(0, 0, 0);    
 }

 #web-dev li a:hover{
     display: inline-block;
     text-shadow: .25em .25em .75em rgb(59, 58, 58);
     border-radius: 2em;
     transform: scale(1.25);     
 }

 .col{
     min-width: 650px;
 }

 @media only screen and (max-width:600px){
    .col{
        min-width:75%;
     }
 }
