.skill-img{
    width: 20rem;
}

.skill-img:nth-child(odd){   
    border-right: 2px solid black;   
}

.skill-img:nth-child(even){   
    border-left: 2px solid black;   
}

.skill-img img{
    object-fit: contain;
}

#web-dev li{   
    font-size: 1.5rem; 
    width:25rem;    
 }

 #web-dev li a{
    color:rgb(0, 0, 0);
    
 }

 #web-dev li a:hover{
     display: inline-block;
     text-shadow: .25em .25em .75em rgb(59, 58, 58);
     border-radius: 2em;
     transform: scale(1.25);     
 }

